#title {

}

#description {
    
}

#survey-form {

}

#submit {
    
}

.news {

}

h1 {

}

p {

}

label {

}

select {

}

input[type="radio"] {

}

input::placeholder {

}

input:invalid {
    border: 2px dashed red;
    background-image: pink;
}

input:valid {

}

input {

}

textarea {

}

form div {
    
}

form {

}